<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="SMTPServer" type="Vestcom.Core.Utilities.EmailClient.Entities.EmailEndPoint, Vestcom.Core.Utilities" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
  </configSections>
  <SMTPServer host="mail.vestcom.com" port="25" enableSsl="false" timeout="10000" DefaultMailAddress="VestcomAlerts@vestcom.com">
  </SMTPServer>
  <appSettings>
    <add key="SqlDatabaseConnection" value="Data Source=sqlCnPaperSignsDev;Initial Catalog=PaperSigns;User Id=PaperSignsService;Password=QGP177PkvrrdYzIeYyBJ;"/>
    <add key="KameleonPath" value="\\websvc-lrar-04\PaperSignsTest\InBoundData\ACME\ToDallas\"/>
    <add key="ProofJobDefinitionKey" value="6e51f7cf-e8b7-4b3f-a5f8-930b1eabeb65"/>
    <add key="PrintJobDefinitionKey" value="267ad21e-7fd1-43df-a6d8-2adc194f6620"/>
    <add key="ImageFolderPath" value="\\websvc-lrar-04\PaperSignsTest\InBoundImages\ACME"/>
    <add key="MailTo" value="jwillhite@vestcom.com,jpitts@vestcom.com"/>
    <add key="Subject" value="Downback report for {ClientName} for Order {OrderNumber}"/>
    <add key="Message" value="Report {ReportName} for AdSign Order is attached"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
