<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="SMTPServer" type="Vestcom.Core.Utilities.EmailClient.Entities.EmailEndPoint, Vestcom.Core.Utilities" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
  </configSections>
  <SMTPServer host="mail.vestcom.com" port="25" enableSsl="false" timeout="10000" DefaultMailAddress="VestcomAlerts@vestcom.com">
  </SMTPServer>
  <appSettings>
    <add key="SqlDatabaseConnection" value="Data Source=sqlCnPaperSignsDev;Initial Catalog=PaperSigns;User Id=PaperSignsService;Password=QGP177PkvrrdYzIeYyBJ;"/>
    <add key="ImageFolderPath" value="\\websvc-lrar-04\PaperSignsTest\InBoundImages\ACME\"/>
    <add key="ExceptionEmailAddresses" value="jwillhite@vestcom.com,jpitts@vestcom.com"/><!--Send to email addresses-->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
