<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="FileWatcherPath" value="\\websvc-lrar-04\PaperSignsTest\InBoundData\ACME\ProcessDownback"/>
    <add key="UserName" value="oy2ECka+AoEwsHEXRCNzeQ=="/>
    <add key="PassWord" value="ne8OZ2f2VPDtC8Xh2UATWg=="/>
    <add key="MasterControllerServer" value="d-fdsql-01"/>
    <add key="MasterControllerDatabase" value="MasterController"/>
  </appSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
</configuration>
